<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
</head>
<body>
    <h1>Multiple File Upload Form</h1>
    <form method="post" action="/addMultiData" enctype="multipart/form-data" >
        <label>Title: </label>
        <input type="text" name="Title" placeholder="Title" />
        <br/><br/>
        <label>File: </label>
        <input type="file" name="Files" multiple/>
        <br/><br/>
        <input type="submit" name="Submit" value="Submit" />
    </form>
</body>
</html>